@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #fff;
  --header: #333;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
 }
 
 .event-card {
  display: flex;
  flex-direction:column;
  width: 300px;
  margin: 1rem;
  border: 1px solid #ccc;
  padding: 1rem;
 }
 
 .event-card h2 {
  margin-bottom: 10px;
 }
 
 .event-card p {
  margin-bottom: 5px;
  text-align: justify;
  word-wrap: break-word;
 }
 
 .event-cards-container {
  background-image:('./client/public/bg.jpeg');
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  height: 60vh;
  background-color: var(--bg);
  padding: 1rem; /* Reduced padding */
 }
 
 .add-event-button {
  display:flex;
  position:relative;
  height: 13%;
  top: 0%;
  left: 0%;
  padding: 5px 5px;
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: var(--link);
  color: var(--header);
  cursor: pointer;
 }
 
 .manage-events{
  text-align: center;
  font-size:xx-large;
 }
 
 .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
 }
 
 .volunteer-card {
  display: flex;
  flex-direction:column;
  width: 300px;
  margin: 1rem;
  border: 1px solid #ccc;
  padding: 1rem;
  text-align: center;
 }
 
 .volunteer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  height: 60vh;
  background-color: var(--bg);
  padding: 1rem; /* Reduced padding */
 }
 
 .container{
  background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20190221/ourmid/pngtree-international-volunteer-day-volunteer-day-volunteer-care-image_20137.jpg');
  width: 100vw;
 }
 
 .title{
  font-size: x-large;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 
 .submit1{
  margin-left: 10px;
  padding: 5px 5px;
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: var(--link);
  color: var(--header);
  cursor: pointer;
 }
 
 .volunteers{
  font-size: x-large;
 }
 
 .event-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }
 
 .volunteer-list{
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
 }
 